
/* JavaFX CSS fil till mitt Black Jack Gui */

#borderPane{
	-fx-background-color: #383838;
	-fx-background-image: url("table.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-background-position: center center;
	-fx-padding: 30;
	
}










